@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html {
  font-size: 100%;
  scroll-behavior: smooth;
}
body {
    color: #24292e;
    letter-spacing: 0.05em;
}
a,a:visited {
    color: #24292e;
    text-decoration: none;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}
p {
    line-height: 1.8;
    font-size: 14px;
}
h1 {
    font-size: 60px;
    font-family: 'Pacifico';
}


h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 65px;
    position: relative;
}

h2::before {
    position: absolute;
    border-bottom: 2px solid #353535;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    content: '';
    margin-top: 10px;
}

h3 {
    font-size: 16px;
}
section {
    padding: 30px 10%;
}
/*-- トップボタン --*/

.pagetop {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #fff;
    border: solid 2px #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pagetop__arrow {
    height: 10px;
    width: 10px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    transform: translateY(20%) rotate(-45deg);
}
/*-- ヘッダー　--*/

header {
  max-width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 0 4%;
  align-items: center;
}

header ul{
    display: flex;
}

header li{
  margin-left: 30px;
}
/*-- メインビジュアル --*/

.main-visual{
  width: 100%;
  height: 550px;
  background-image: url(../img/FOREST.jpg);
  background-size: cover;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-- About --*/

#about-name{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#about h2{
    margin-top: 40px;
}

#about h3 {
  margin-right: 10px;
}

#about p{
    width: 80%;
}

#about img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border-style: solid;
  border-top-width: 1px;
}

#about-name{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#about-detail{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

/*-- Skills --*/

#skills {
  background-color: #f5f5f5;
}

#skills h3{
  margin-bottom: 10px;
}

.skill-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.skill-item{
  width: 30%;
  background-color: #fff;
  border-radius: 16px;
  margin-bottom: 20px;
  padding: 30px;
  box-sizing: border-box;

}


/*-- Works --*/

.Work-item{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#Works img{
    width: 50%;
}

.Work-description{
    width: 50%;
    margin-left: 10px;
}

#contact{
    background-color: #EBDFE0;
    text-align: center;
}

/*--　フッター　--*/

footer {
  background-color: #24292e;
  color: #fff;
  font-size: 0.5rem;
  padding: 10px 20px;
  text-align: center;
}

@media screen and (max-width: 414px) {
  h2{
    margin-bottom: 30px;
  }

/*-- ヘッダー --*/

header {
  max-width: 100%;
  flex-direction: column;
  height: auto;
  padding: 10px 4%;
}

/*-- About --*/

#about {
  text-align: center;
}

#about h3 {
  margin: 0;
}

#about-name {
  flex-direction: column;
  align-items: center;
}

#about-detail {
  flex-direction: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#about-detail p {
  flex-direction: flex;
  margin-top: 30px;
  width: 100%;
}

/*-- skills --*/
.skill-item {
  width: 100%;
}

/*-- Works --*/
.work-item {
  flex-direction: column;
}

#works img {
  width: 100%;
  margin-bottom: 10px;
}

.Work-description {
  width: 100%;
}
}